[submodule "vim_modules/vim-themis"]
	path = vim_modules/vim-themis
	url = https://github.com/thinca/vim-themis.git
[submodule "vim_modules/vital.vim"]
	path = vim_modules/vital.vim
	url = https://github.com/vim-jp/vital.vim.git
[submodule "vim_modules/vital-vimlcompiler"]
	path = vim_modules/vital-vimlcompiler
	url = https://github.com/haya14busa/vital-vimlcompiler.git
[submodule "vim_modules/vital-safe-string"]
	path = vim_modules/vital-safe-string
	url = https://github.com/haya14busa/vital-safe-string
[submodule "vim_modules/vital-power-assert"]
	path = vim_modules/vital-power-assert
	url = https://github.com/haya14busa/vital-power-assert
